.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
}

.originalImage {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 350px;
}

.actionsBox {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.panelImage {
    width: 100%;
    height: 400px;
}

.rightSection {
    margin-left: 5%;
}

.creator {
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
    align-items: center;
}
